{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    {% include "IsiPersonaBundle:Default:buscarPersonas.html.twig" %}
    {#% if (listado is not empty) or (app.session.get('persSelecBD') is not empty) %}
        <div class="row">
            <div class="col-md-12">
                <div class="text-xs-center">
                    <a id="isi_selPersTrab" name="lst_pers_trab" class="btn btn-success" href="{{ url('isi_persona_ABMSelPers') }}" role="button" title="Guardar las personas seleccionadas para trabajar con ellas">
                        &nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <i class="fa fa-users" aria-hidden="true"></i>&nbsp;
                    </a>
                </div>
            </div>
        </div>
    {% endif %#}
<br>
{% endblock %}
{% block pie %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/isipersona/js/isi_persona.js') }}" type="text/javascript"></script>
{% endblock %}
