<div class="input-group">
    <input id="isi_{{id_filtro}}" name="{{name_filtro}}" type="text" class="form-control isi_filtrar" placeholder="buscar ..." autofocus="true">
    <span class="input-group-addon">
        <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;
        <a data-toggle="collapse" href="#{{id_ayuda}}" aria-expanded="false" aria-controls="collapseExample" class="isi_lnk-info">
            <i class="fa fa-info fa-lg text-info " aria-hidden="true"></i>
        </a>
    </span>
</div>
<div id="{{id_ayuda}}" class="collapse">
    <div class="card card-block text-justify">
        Escribe lo que quieras buscar, puede ser una palabra, parte de ella o varias palabras.
        <br>Puedes buscar el contenido de todas las columnas.
    </div>
</div>
