<div class="text-xs-center">
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {% if label in ['iinfo', 'ssuccess', 'ddanger', 'wwarning'] %}
            <!-- Mensaje flash de syfmony con bootstrap-->
                <div class="row pt-1">
                    <div class="col-md-6 offset-md-3">
                        <div id="isi_msjTwBs" class="alert alert-{{ label|slice(1, 8) }} alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flash | raw }}
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- Mensaje flash de symfony con sweetAlert2 -->
                <div class="isi_msjFlash" style="display:none;">
                    {{label}}¬{{flash | raw}}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div id="isi_msjPag" class="row pt-1"> </div>
    <div id="isi_msjProcesando" class="isi_ocultar">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw mx-auto"></i>
        <span class="sr-only">Cargando...</span>
    </div>
    <br>
</div>
