<div class="text-xs-center">
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <!-- Mensaje flash de syfmony con bootstrap-->
            <!-- <div class="row" style="padding-top:7px;">
                <div class="col-md-6 col-md-offset-3">
                    <div id="isi_msjFlash" class="alert alert-{{ label }} alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {#{ flash | raw }#}
                    </div>
                </div>
            </div> -->
            <!-- Mensaje flash de symfony con sweetAlert2 -->
            <div id="isi_msjFlash" style="display:none;">
                {{label}}¬{{flash|raw}}
            </div>
        {% endfor %}
    {% endfor %}

    <div id="isi_msjPag" class="row" style="padding-top:7px;"> </div>
    <div id="isi_msjProcesando" class="isi_ocultar">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw center-block"></i>
        <span class="sr-only">Cargando...</span>
    </div>
    <br>
</div>
