<div class="clearfix" />
<footer class="text-center text-muted" style="position: relative; bottom:0px; width:100%;">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid pull-left" style="width:50px; height:50px;" src="{{asset('imagenes/logo_empresa_simple.png')}}" alt="Logo" />
        </div>
        <div class="col-md-4 text-xs-center">
            <h6>INTEGRA - Servicios Informáticos</h6>
            Copyright &copy; 2003 - 2016 - Todos los derechos reservados.
        </div>
        <div class="col-md-4">
        </div>
    </div>
</footer>
