<div id="isi_div-mensaje" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-mensaje">mensajes sistema ayudas popup flash sweetalert alert</label>
    <a class="list-group-item" href="{{ url('isi_admin_msjSist') }}">
        Mensajes del sistema <i class="fa fa-comments-o fa-2x pull-xs-right isi_iconoMensaje" aria-hidden="true"></i>
    </a>
</div>
