<div id="isi_div-mensaje" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-mensaje">mensajes sistema ayudas popup flash sweetalert alert</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_admin_msjSist') }}">
        Mensajes del sistema
        <i class="fa fa-cog pull-xs-right isi_iconoMensaje" aria-hidden="true"></i>
        <i class="fa fa-comments-o fa-2x pull-xs-right isi_iconoMensaje" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-usuario" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-usuario">alta usuario crear nuevo</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_sesion_usrL') }}">
        Usuarios
        <i class="fa fa-cog pull-xs-right isi_iconoUsuario" aria-hidden="true"></i>
        <i class="fa fa-user fa-2x pull-xs-right isi_iconoUsuario" aria-hidden="true"></i>
    </a>
</div>
