<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Configuraciones</span>
</li>
<a class="mdl-navigation__link" href="{{url('isi_persona_estadoCivil')}}"><i class="isi_icono_link_ctrado material-icons">location_city</i>Estado Civil</a>
<a class="mdl-navigation__link" href="{{url('isi_persona_identGenero')}}"><i class="isi_icono_link_ctrado material-icons">fingerprint</i>Identidad de Género</a>
<a class="mdl-navigation__link" href="{{url('isi_persona_lugarNacim')}}"><i class="isi_icono_link_ctrado material-icons">pregnant_woman</i>Lugar de Nacimiento</a>
<a class="mdl-navigation__link" href="{{url('isi_config_personaNueva')}}"><i class="isi_icono_link_ctrado material-icons">person_add</i>Personas</a>
