<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="configuracion">
    <a class="mdl-menu__item" href="{{url('isi_persona_estadoCivil')}}">Estado Civil</a>
    <li class="mdl-menu__item">Another Action</li>
    <li disabled class="mdl-menu__item">Disabled Action</li>
    <li class="mdl-menu__item">Yet Another Action</li>
</ul>
