<!-- <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="configuracion">
    <a class="mdl-menu__item" href="{{url('isi_persona_estadoCivil')}}">Estado Civil</a>
    <li class="mdl-menu__item">Another Action</li>
    <li disabled class="mdl-menu__item">Disabled Action</li>
    <li class="mdl-menu__item">Yet Another Action</li>
</ul> -->
<li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">Configuraciones</span>
</li>
<a class="mdl-navigation__link" href="{{url('isi_persona_estadoCivil')}}"><i class="isi_icono_link_ctrado material-icons">location_city</i>Estado Civil</a>
<a class="mdl-navigation__link" href="{{url('isi_persona_identGenero')}}"><i class="isi_icono_link_ctrado material-icons">fingerprint</i>Identidad de Género</a>
