<div id="isi_div-legajos" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-legajos">siale legajos menores</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_consulta_legMotOrigPers') }}">
        Legajos (siale)
        <i class="fa fa-folder-open fa-2x float-xs-right isi_iconoLegajos" aria-hidden="true"></i>
        <i class="fa fa-search fa-lg float-xs-right isi_iconoLegajos" aria-hidden="true"></i>
    </a>
</div>
