{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% include "::usuario.html.twig" %}
{% endif %}
<div class="input-group pt-1 pb-1">
    <input id="isi_busk-menu" name="lnk_opc-menu" type="text" class="form-control isi_filtrar" placeholder="busque una opción">
    <div class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></div>
</div>

{% if app.request.attributes.get("_route") != "isi_publico_homepage" %}
    <div id="isi_divMenu-inicio" class="isi_divMenu">
        <label class="isi_filtrable" name="lnk_opc-menu" for="isi_divMenu-inicio">inicio principio principal home casa</label>
        <a class="list-group-item list-group-item-action" href="{{ url('isi_publico_homepage') }}">
            Página principal <i class="fa fa-home fa-2x float-xs-right isi_iconoInicio" aria-hidden="true"></i>
        </a>
    </div>
{% endif %}
