<div id="isi_div-Buscarpersona" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-Buscarpersona">datos consulta persona encontrar buscar actualiza</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_persona_C') }}">
        Buscar personas
        <i class="fa fa-user fa-2x float-xs-right isi_iconoBuscarPersona" aria-hidden="true"></i>
        <i class="fa fa-search fa-lg float-xs-right isi_iconoBuscarPersona" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-persona" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-persona">persona agregar alta crear</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_persona_A') }}">
        Agregar personas
        <i class="fa fa-user fa-2x float-xs-right isi_iconoPersona" aria-hidden="true"></i>
        <i class="fa fa-plus fa-lg float-xs-right isi_iconoPersona" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-GrupoPersona" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-GrupoPersona">grupo familia social pesronas</label>
    <a class="list-group-item list-group-item-action" href="{{ url('isi_persona_C') }}">
        Grupos sociales
        <i class="fa fa-users fa-2x float-xs-right isi_iconoGrupoPersona" aria-hidden="true"></i>
        <i class="fa fa-plus fa-lg float-xs-right isi_iconoGrupoPersona" aria-hidden="true"></i>
    </a>
</div>
