<div id="isi_div-persona" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-persona">persona agregar alta crear</label>
    <a class="list-group-item" href="{{ url('isi_persona_nueva') }}">
        Agregar personas
        <i class="fa fa-users fa-2x pull-xs-right isi_iconoPersona" aria-hidden="true"></i>
        <i class="fa fa-plus fa-lg pull-xs-right isi_iconoPersona" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-Buscarpersona" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-Buscarpersona">datos consulta persona encontrar buscar</label>
    <a class="list-group-item" href="{{ url('isi_persona_buscarPers') }}">
        Datos personales
        <i class="fa fa-users fa-2x pull-xs-right isi_iconoBuscarPersona" aria-hidden="true"></i>
        <i class="fa fa-search fa-lg pull-xs-right isi_iconoBuscarPersona" aria-hidden="true"></i>
    </a>
</div>
<div id="isi_div-Actupersona" class="isi_divMenu">
    <label class="isi_filtrable" name="lnk_opc-menu" for="isi_div-Actupersona">datos actualiza persona modifica</label>
    <a class="list-group-item" href="{{ url('isi_persona_buscarPers') }}">
        Actualizar datos
        <i class="fa fa-users fa-2x pull-xs-right isi_iconoActuPersona" aria-hidden="true"></i>
        <i class="fa fa-pencil-square-o fa-lg pull-xs-right isi_iconoActuPersona" aria-hidden="true"></i>
    </a>
</div>
