<div class="mdl-layout__drawer">
    {% include "::usuario.html.twig" %}
    <!-- <span class="mdl-layout-title">Menú</span> -->
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-menu__item--full-bleed-divider" href="{{url('isi_publico_homepage')}}">
            <i class="isi_icono_link_ctrado material-icons menu-icons">home</i>Inicio
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <!-- <a class="mdl-navigation__link" href="#" id="configuracion">
            <i class="material-icons">settings</i>
            &nbsp;Configuración&nbsp;
            <i class="material-icons">arrow_drop_down</i>
        </a> -->
            {% include ":menues:configuracion.html.twig" %}
        {% endif %}
    </nav>

    <!-- sub menu only visible when clicked on the link above -->
    {#% include ":menues:configuracion.html.twig" %#}
</div>
