{% extends '::base.html.twig' %}
{% block persParaTrabajar %}
{% endblock %}
{% block contenido%}
    <div class="row">
        <div class="container-fluid">
            <div class="m-x-auto" style="position:relative; margin-top:15%;">
                <img class="img-fluid" src="{{ asset('imagenes/iso_logo_empresa.png') }}"/>
            </div>
        </div>
    </div>
{% endblock %}
