@charset "utf-8";

body {
    font-family: Roboto, arial, serif;
}

.isi_filtrable {
    display: none;
}

.isi_div-menu {
    padding:0px;
    margin-top:-5px;
}

.isi-usr-avatar {
  width: 90px;
  height: 90px;
  /*border-radius: 24px;*/
}

nav.nav {
    color: #fff;
}

/**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
    width: 300px;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 2000;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-300px,0);
    padding-right: 3px;
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1000;
}
/**
 * Fin Sliding swipe menu CSS
 */



/* clases para manejo en js*/
/* oculta un elemento, el resto ocupa el lugar del mismo, usado por ej. en la columna multicheck de las tablas */
.isi_ocultar {
    display: none;
}

/*.img_menu {
    width: 50px;
    height: 50px;
}

.logueo {
    display: flex;
    align-items: baseline;
    text-align: left;
    border-color: #1c78d4;
    border-width: 3px;
    border-style: solid;
    border-radius: 58px 58px 58px 58px;
    width: 380px;
    height: 160px;
    margin-right: 32%;
    margin-left: 32%;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
*/

/* centrado horizontal de un div con tabla inclusive*/
/*.isi_centrar-horiz {
    width: auto;
    margin: 0 auto;
    text-align: center;
}*/

/* centra horizontalmente y verticalmente en la pantalla un iconfont de mdl*/
.isi_icono-menu-ctro-pag {
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}

/* usado para agrandar el icono centrado en la pantalla*/
.isi_tam-icono-menu-ctro-pag {
    font-size:10em;
    color: #795548;
}

.isi_txt_min {
    text-transform:lowercase;
}

.isi_modal-contenido {
  background-color:#fafafa;
  width: 80%;
  /*width:600px;*/
  /*padding: 10px 20px;*/
  margin: 20% auto;
  position: relative;
}

.isi_modal {
  background-color: rgba(0,0,0,.5);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}

 /*.isi_cerrarModal-btn { position: relative; top: 20px; left: 20px; }*/

/*@media (min-width: 920px) { .isi_cerrarModal-btn { position: relative; top: -85px; left: 20px; }*/
.isi_cerrarModal-btn { position: relative; top: -85px; left: 20px; }
@media (max-width: 918px) { .isi_cerrarModal-btn { position: relative; top: -20px; left: 20px; }
