@charset "utf-8";

body {
    font-family: Roboto, arial, serif;
    background-color: #FAFAFA;
}

/* tamaño preview foto en busqueda de persona - visca como tarjetas */
.isi_fotoPersCards {
    width: auto;
    height: 200px;
}
@media (max-width: 770px) { .isi_fotoPersCards { width: auto; height: 130px; } }

/* tamaño preview foto alta persona*/
.isi_fotoPers {
    /*width: auto;
    height: auto;*/
    width: auto;
    height: 220px;
}

/* espacio entre objetos para formularios inline*/
.isi_espacioForm {
    padding-top: 5px;
}

/* colores para iconos menu / y vble icoNombre de cada pagina*/
.isi_iconoInicio {
    color:#94960C;
}
.isi_iconoSiguenos {
    color:#6DBD08;
}
.isi_iconoUbicanos {
    color:#B32209;
}
.isi_iconoConocenos {
    color:#2B57C8;
}
.isi_icono-volverSistema {
    color:#d48325;
    /*color:#357777;*/
}
.isi_iconoLegajos {
    color:#347EC2;
}
.isi_iconoEstCivil {
    color:#E9D805;
}
.isi_iconoIdentGenero {
    color:#C36865;
}
.isi_iconoLugarNacim {
    color:#72C3C3;
}
.isi_iconoPersona {
    color:#fe7b5b;
}
.isi_iconoBuscarPersona {
    color:#0fa4d0;
}
.isi_iconoUsuario {
    color:#d4d3d9;
}
.isi_iconoMensaje {
    color:#209109;
}
/* fin colores para iconos menu / y vble icoNombre de cada pagina*/

/* es para poner los botones y links en los "cards" de bootstrap
que utiilzo para mostrar datos (listados)
*/
.isi_iconoCabList {
    margin-top: -7px;
}

.isi_piePag {
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/* cambiamos los iconos por defecto al toastr usando FontAwesome
abrir el css de FontAwesome y buscar el codigo del icono
fa-exclamation-circle por ejemplo tiene content: "\f06a";
*/

/*#toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}
#toast-container > .toast-warning:before {
    content: "\f06a";
}
#toast-container > .toast-error:before {
    content: "\f188";
}
#toast-container > .toast-info:before {
    content: "\f129";
}
#toast-container > .toast-success:before {
    content: "\f00c";
}*/
/* cambiamos los iconos por defecto al toastr usando FontAwesome*/

/*ancho de la columna para los checkbox (multiAcciones)*/
.isi_chkColu {
    width: 70px !important;
}

/*ancho de la columna para las acciones*/
.isi_accColu {
    width: 30px;
}
.isi_accColu-2x {
    width: 75px;
}
/* fin ancho de la columna para las acciones*/

/*tamaño de los circulos informativos y fuente de bootstrap*/
.isi_badge {
    font-size: .85em;
    position: relative;
    top: -10px;
}

/*para acercar mas el circulo informativo al objeto anterior (por lo gral el texto de lo que se trata)*/
.isi_badgeSobre {
    font-size: 1em;
    position: relative;
    top: -10px;
    left: -7px;
}

/*quita el subrayado a los links*/
a.isi_lnkInfo:link {
 text-decoration:none;
}

.isi_sombra-2x {
    -webkit-box-shadow: 1px 2px 2px 0px rgba(117,110,117,1);
    -moz-box-shadow: 1px 2px 2px 0px rgba(117,110,117,1);
    box-shadow: 1px 2px 2px 0px rgba(117,110,117,1);
}

.isi_sombra-4x {
    -webkit-box-shadow: 2px 4px 6px 1px rgba(153,142,153,1);
    -moz-box-shadow: 2px 4px 6px 1px rgba(153,142,153,1);
    box-shadow: 2px 4px 6px 1px rgba(153,142,153,1);
}

.isi_sombra-8x {
    -webkit-box-shadow: 4px 8px 15px -4px rgba(84,81,84,1);
    -moz-box-shadow: 4px 8px 15px -4px rgba(84,81,84,1);
    box-shadow: 4px 8px 15px -4px rgba(84,81,84,1);
}

.isi_sombra-16x {
    -webkit-box-shadow: 6px 10px 20px 2px rgba(171,166,171,1);
    -moz-box-shadow: 6px 10px 20px 2px rgba(171,166,171,1);
    box-shadow: 6px 10px 20px 2px rgba(171,166,171,1);
}

/*usado para palabras claves a filtrar en resultados de una bd por ej. o en el menu (ver ej. de menues)*/
.isi_filtrable {
    display: none;
}

.isi_divMenu {
    padding:0px;
    margin-top:-5px;
}

.isi-usrAvatar {
  width: 90px;
  height: 90px;
  /*border-radius: 24px;*/
}

.isi-usrAvatarMin {
  width: 50px;
  height: 50px;
  /*border-radius: 24px;*/
}

nav.nav {
    color: #fff;
}

/**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
    width: 300px;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 2000;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-300px,0);
    padding-right: 3px;
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1000;
}
/**
 * Fin Sliding swipe menu CSS
 */

/* clases para manejo en js*/
/* oculta un elemento, el resto ocupa el lugar del mismo, usado por ej. en la columna multicheck de las tablas */
.isi_ocultar {
    display: none;
}

.isi_modalContenido {
  background-color: transparent;;
  width: 95%;
  /*width:600px;*/
  /*padding: 10px 20px;*/
  margin: 13% auto;
  position: relative;
}

.isi_modal {
  background-color: rgba(0,0,0,.4);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  /*transition: all 1s;*/
  z-index: 777;
}

 /*.isi_cerrarModalBtn { position: relative; top: 20px; left: 20px; }*/

/*@media (min-width: 920px) { .isi_cerrarModalBtn { position: relative; top: -85px; left: 20px; }*/
.isi_cerrarModalBtn { position: relative; top: -85px; left: 20px; }
@media (max-width: 918px) { .isi_cerrarModalBtn { position: relative; top: -20px; left: 20px; } }
