@charset "utf-8";

body {
    font-family: Roboto, arial, serif;
    background-color: #FAFAFA;
}

/* colores para iconos menu / y vble icoNombre de cada pagina*/
.isi_icono-inicio {
    color:#94960C;
}
.isi_icono-siguenos {
    color:#6DBD08;
}
.isi_icono-ubicanos {
    color:#B32209;
}
.isi_icono-conocenos {
    color:#2B57C8;
}
.isi_icono-volver-sistema {
    color:#357777;
}
.isi_icono-legajos {
    color:#347EC2;
}
.isi_icono-estCivil {
    color:#E9D805;
}
.isi_icono-identGenero {
    color:#C36865;
}
.isi_icono-lugarNacim {
    color:#72C3C3;
}
.isi_icono-personaH {
    color:#5269E3;
}
.isi_icono-personaM {
    color:#F2499F;
}
.isi_icono-mensaje {
    color:#209109;
}
/* fin colores para iconos menu / y vble icoNombre de cada pagina*/

/* es para poner los botones y links en los "cards" de bootstrap
que utiilzo para mostrar datos (listados)
*/
.isi_iconoCabList {
    margin-top: -7px;
}

.isi_piePag {
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/* cambiamos los iconos por defecto al toastr usando FontAwesome
abrir el css de FontAwesome y buscar el codigo del icono
fa-exclamation-circle por ejemplo tiene content: "\f06a";
*/

/*#toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}
#toast-container > .toast-warning:before {
    content: "\f06a";
}
#toast-container > .toast-error:before {
    content: "\f188";
}
#toast-container > .toast-info:before {
    content: "\f129";
}
#toast-container > .toast-success:before {
    content: "\f00c";
}*/
/* cambiamos los iconos por defecto al toastr usando FontAwesome*/

/*ancho de la columna para los checkbox (multiAcciones)*/
.isi_chk-colu {
    width: 70px !important;
}

/*ancho de la columna para las acciones*/
.isi_acc-colu {
    width: 30px;
}
.isi_acc-colu-2x {
    width: 60px;
}
/* fin ancho de la columna para las acciones*/

/*tamaño de los circulos informativos y fuente de bootstrap*/
.isi_badge {
    font-size: .85em;
    position: relative;
    top: -10px;
}

/*para acercar mas el circulo informativo al objeto anterior (por lo gral el texto de lo que se trata)*/
.isi_badgeSobre {
    font-size: 1em;
    position: relative;
    top: -10px;
    left: -7px;
}

/*quita el subrayado a los links*/
a.isi_lnk-info:link {
 text-decoration:none;
}

.isi_sombra-2x {
    -webkit-box-shadow: 1px 2px 2px 0px rgba(117,110,117,1);
    -moz-box-shadow: 1px 2px 2px 0px rgba(117,110,117,1);
    box-shadow: 1px 2px 2px 0px rgba(117,110,117,1);
}

.isi_sombra-4x {
    -webkit-box-shadow: 2px 4px 6px 1px rgba(153,142,153,1);
    -moz-box-shadow: 2px 4px 6px 1px rgba(153,142,153,1);
    box-shadow: 2px 4px 6px 1px rgba(153,142,153,1);
}

.isi_sombra-8x {
    -webkit-box-shadow: 4px 7px 8px 4px rgba(168,158,168,1);
    -moz-box-shadow: 4px 7px 8px 4px rgba(168,158,168,1);
    box-shadow: 4px 7px 8px 4px rgba(168,158,168,1);}

.isi_sombra-16x {
    -webkit-box-shadow: 6px 10px 20px 2px rgba(171,166,171,1);
    -moz-box-shadow: 6px 10px 20px 2px rgba(171,166,171,1);
    box-shadow: 6px 10px 20px 2px rgba(171,166,171,1);
}

/*usado para palabras claves a filtrar en resultados de una bd por ej. o en el menu (ver ej. de menues)*/
.isi_filtrable {
    display: none;
}

.isi_div-menu {
    padding:0px;
    margin-top:-5px;
}

.isi-usr-avatar {
  width: 90px;
  height: 90px;
  /*border-radius: 24px;*/
}

nav.nav {
    color: #fff;
}

/**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
    width: 300px;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 2000;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-300px,0);
    padding-right: 3px;
}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1000;
}
/**
 * Fin Sliding swipe menu CSS
 */



/* clases para manejo en js*/
/* oculta un elemento, el resto ocupa el lugar del mismo, usado por ej. en la columna multicheck de las tablas */
.isi_ocultar {
    display: none;
}

/*.img_menu {
    width: 50px;
    height: 50px;
}

.logueo {
    display: flex;
    align-items: baseline;
    text-align: left;
    border-color: #1c78d4;
    border-width: 3px;
    border-style: solid;
    border-radius: 58px 58px 58px 58px;
    width: 380px;
    height: 160px;
    margin-right: 32%;
    margin-left: 32%;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
}

.demo-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
*/

/* centrado horizontal de un div con tabla inclusive*/
/*.isi_centrar-horiz {
    width: auto;
    margin: 0 auto;
    text-align: center;
}*/

/* centra horizontalmente y verticalmente en la pantalla un iconfont de mdl*/
.isi_icono-menu-ctro-pag {
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -70px;
}

/* usado para agrandar el icono centrado en la pantalla*/
.isi_tam-icono-menu-ctro-pag {
    font-size:10em;
    color: #795548;
}

.isi_txt_min {
    text-transform:lowercase;
}

.isi_modal-contenido {
  background-color: transparent;;
  width: 95%;
  /*width:600px;*/
  /*padding: 10px 20px;*/
  margin: 13% auto;
  position: relative;
}

.isi_modal {
  background-color: rgba(0,0,0,.4);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  /*transition: all 1s;*/
  z-index: 777;
}

 /*.isi_cerrarModal-btn { position: relative; top: 20px; left: 20px; }*/

/*@media (min-width: 920px) { .isi_cerrarModal-btn { position: relative; top: -85px; left: 20px; }*/
.isi_cerrarModal-btn { position: relative; top: -85px; left: 20px; }
@media (max-width: 918px) { .isi_cerrarModal-btn { position: relative; top: -20px; left: 20px; }
