{% extends '::index.html.twig' %}
{% block contenido %}
    <br><br>
    <h2>
        Bienvenid@
        {{ app.user.username | trim}}!
        <img src="data:;base64, {{ app.user.imagen | trim}}" alt="Avatar" class="demo-avatar">
    </h2>
{% endblock %}
