{% extends '::index.html.twig' %}
{% block opcionesMenuItems%}
    <a class="mdl-navigation__link" href="">Estado Civil</a>
{% endblock %}

{% block contenido %}
    <!-- <br><br> -->
    <div class="icono-menu-ctro-pag">
        <i class="material-icons tam-icono-menu-ctro-pag">settings</i>
    </div>
{% endblock %}
