{% extends '::index.html.twig' %}

{% block titulo%}
    CONFIGURACIÓN
{% endblock %}

{#% block menuItems%}
    {% include ":menues:configuracion_item.html.twig" %}
{% endblock %#}

{% block contenido %}
    <!-- si hacemos los items del menu con tabs
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
        <div class="page-content">
            Estado civil
        </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
        <div class="page-content">tab 2</div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
        <div class="page-content">tab 3</div>
    </section>
    <div class="icono-menu-ctro-pag">
        <i class="material-icons tam-icono-menu-ctro-pag">settings</i>
    </div> -->
{% endblock %}
