{% extends "::index.html.twig" %}

{% block titulo%}
    Configuración
{% endblock %}

{#% block menuItems%}
    {% include ":menues:configuracion_item.html.twig" %}
{% endblock %#}

{% block contenido %}
{{parent()}}
    <i class="material-icons isi_icono-menu-ctro-pag isi_tam-icono-menu-ctro-pag" style="font-size:10em;">settings</i>
    <br>
    <input id="ham" type="checkbox" name="" class="isi_chk_todos" value="ham"> <label for="ham">Ham</label>
    <input id="pepperoni" type="checkbox" name="" value="pepperoni"> <label for="pepperoni">Pepperoni</label>
    <input id="mushrooms" type="checkbox" name="" value="mushrooms"> <label for="mushrooms">Mushrooms</label>
    <br>

    <input id="inp1" type="checkbox" class="isi_chk_grupo"> <label for="inp1">MAESTRO SIN NAME</label>
    <br>
    <input id="inp1" type="checkbox" name="" class="isi_chk_grupo"> <label for="inp1">MAESTRO NAME VACIO</label>
    <br>
    <br> <input id="inp2" type="checkbox" name="checkComun" class="isi_chk_grupo"> <label for="inp2">MAESTRO GRUPO </label>
    <br>
    <input id="inp3" type="checkbox" name="checkComun" disabled checked> <label for="inp2">CHECK COMUN </label>
    <input id="inp4" type="checkbox" name="checkComun"> <label for="inp4">CHECK COMUN </label>
    <input id="inp5" type="checkbox" name="checkComun" disabled="true"> <label for="inp5">CHECK COMUN </label>
    <input id="inp6" type="checkbox" name="checkComun"><label for="inp6">CHECK COMUN </label>
    <input id="inp7" type="checkbox" name="checkComun" class="mdl-checkbox__input"> <label for="inp7">CHECK COMUN </label>
    <br>
    <br>
    <br>
    <div class="" style="float:left;">
        <a href="#" name="chkg1" class="isi_elim_reg mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Eleminar seleccion">
            <i class="material-icons">delete</i>
        </a>
        <span name="chkg1" class="mdl-badge" data-badge="3">Tabla 1</span>

        <button name="chkg1" class="isi_ocultable-cambio mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">visibility_off</i>
        </button>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="tabla1">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input id="tabla1" name="chkg1" class="mdl-textfield__input isi_filtrar-busqueda" type="text">
                <label class="mdl-textfield__text" for="tabla1"></label>
            </div>
        </div>

        <table id="tabla1" name="chkg1" class="mdl-data-table">
            <thead>
                <tr>
                    <th name="chkg1" class="isi_ocultable">
                        <label name="chkg1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chk_gral_t1" title="Seleccionar tabla">
                            <input id="chk_gral_t1" name="chkg1" type="checkbox" class="isi_chk_grupo mdl-checkbox__input">
                            <span name="chkg1" class="mdl-badge isi_chk_grupo_cant" data-badge="0" style="right:7px;"></span>
                        </label>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
            </thead>
            <tbody>
                <tr name="chkg1" value="acrylic (transparent)" class="isi_filtrable">
                    <td name="chkg1" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg1" value="acrylic (transparent)" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect isi_filtrable" for="f1t1">
                            <input id="f1t1" type="checkbox" name="chkg1" value="11" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                    <td>25</td>
                    <td>$2.90</td>
                </tr>
                <tr name="chkg1" value="plywood (birch)" class="isi_filtrable">
                    <td name="chkg1" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg1" value="plywood (birch)" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect isi_filtrable" for="f2t1">
                            <input id="f2t1" type="checkbox" name="chkg1" value="12" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                    <td>50</td>
                    <td>$1.25</td>
                </tr>
                <tr name="chkg1" value="laminate (gold on blue)" class="isi_filtrable">
                    <td name="chkg1" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg1" value="laminate (gold on blue)" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect isi_filtrable" for="f3t1">
                            <input id="f3t1" type="checkbox" name="chkg1" value="13" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                    <td>10</td>
                    <td>$2.35</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="" style="float:left;">
        <a href="#" name="chkg2" class="isi_elim_reg mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Eleminar seleccion">
            <i class="material-icons">delete</i>
        </a>
        <span name="chkg2" class="mdl-badge" data-badge="5">Tabla 2</span>
        <table id="tabla2" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>
                        <label name="chkg2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chk_gral_t2" title="Seleccionar tabla">
                            <input id="chk_gral_t2" name="chkg2" type="checkbox" class="isi_chk_grupo mdl-checkbox__input">
                            <span name="chkg2" class="mdl-badge isi_chk_grupo_cant" data-badge="0" style="right:7px;"></span>
                        </label>

                    </th>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td name="" class="mdl-data-table__cell--non-numeric">
                        <label name="chkg2" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="f1t2">
                            <input id="f1t2" type="checkbox" name="chkg2" value="" class="mdl-checkbox__input" disabled>
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                    <td>25</td>
                    <td>$2.90</td>
                </tr>
                <tr>
                    <td name="" class="mdl-data-table__cell--non-numeric">
                        <label name="chkg2" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="f2t2">
                            <input id="f2t2" type="checkbox" name="chkg2" value="" class="mdl-checkbox__input" checked disabled>
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                    <td>50</td>
                    <td>$1.25</td>
                </tr>
                <tr>
                    <td name="" class="mdl-data-table__cell--non-numeric">
                        <label name="chkg2" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="f3t2">
                            <input id="f3t2" type="checkbox" name="chkg2" value="" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                    <td>10</td>
                    <td>$2.35</td>
                </tr>
                <tr>
                    <td name="" class="mdl-data-table__cell--non-numeric">
                        <label name="chkg2" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="f4t2">
                            <input id="f4t2" type="checkbox" name="chkg2" value="" class="mdl-checkbox__input" checked disabled>
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                    <td>50</td>
                    <td>$1.25</td>
                </tr>
                <tr>
                    <td name="" class="mdl-data-table__cell--non-numeric">
                        <label name="chkg2" class="mdl-checkbox mdl-js-checkbox mdl-data-table__select mdl-js-ripple-effect" for="f5t2">
                            <input id="f5t2" type="checkbox" name="chkg2" value="" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                    <td>10</td>
                    <td>$2.35</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="" style="float:left;">
        <a href="#" name="chkg3" class="isi_elim_reg mdl-button mdl-js-button mdl-button--icon mdl-button--colored" title="Eleminar seleccion">
            <i class="material-icons">delete</i>
        </a>
        <span name="chkg3" class="mdl-badge" data-badge="4">Tabla 3</span>

        <button name="chkg3" class="isi_ocultable-cambio mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">visibility_off</i>
        </button>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="tabla3">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input id="tabla3" name="chkg3" class="mdl-textfield__input isi_filtrar-busqueda" type="text">
                <label class="mdl-textfield__text" for="tabla3"></label>
            </div>
        </div>

        <table id="tabla3" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr id="">
                    <th name="chkg3" class="isi_ocultable">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="chk_gral_t3" title="Seleccionar tabla">
                            <input id="chk_gral_t3" name="chkg3" type="checkbox" class="isi_chk_grupo mdl-checkbox__input">
                            <span name="chkg3" class="mdl-badge isi_chk_grupo_cant" data-badge="1" style="right:7px;"></span>
                        </label>

                    </th>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td name="chkg3" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="f1t3">
                            <input id="f1t3" type="checkbox" name="chkg3" value="" class="mdl-checkbox__input">
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
                    <td>25</td>
                    <td>$2.90</td>
                </tr>
                <tr>
                    <td name="chkg3" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="f2t3">
                            <input id="f2t3" type="checkbox" name="chkg3" value="" class="mdl-checkbox__input" checked>
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
                    <td>50</td>
                    <td>$1.25</td>
                </tr>
                <tr>
                    <td name="chkg3" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="f3t3">
                            <input id="f3t3" type="checkbox" name="chkg3" value="" class="mdl-checkbox__input" disabled>
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                    <td>10</td>
                    <td>$2.35</td>
                </tr>
                <tr>
                    <td name="chkg3" class="mdl-data-table__cell--non-numeric isi_ocultable">
                        <label name="chkg3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="f4t3">
                            <input id="f4t3" type="checkbox" name="chkg3" value="" class="mdl-checkbox__input" disabled>
                        </label>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
                    <td>10</td>
                    <td>$2.35</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

{% endblock %}
{% block pie %}
{% endblock %}
