{% extends "::base.html.twig" %}
{% block contenido %}
    {{ parent() }}
    {# si quiero que no se ejecute el ajax, hay que quitar el form endForm de formulario.html.twig y poner en cada vista VC (vista completa) VM (vista modal)#}
    {{ include("IsiPersonaBundle:EstadoCivil:formulario.html.twig")}}
    <br>
    <div class="text-xs-center">
        <a id="isi_lnk_listado" href="{{url('isi_persona_estadoCivil')}}" class="btn btn-secondary" title="Volver al listado">
            &nbsp;<i class="fa fa-list-alt fa-lg" aria-hidden="true"></i>&nbsp;
        </a>
    </div>
{% endblock %}
