{% extends '::index.html.twig' %}
{% block contenido %}
    {{ parent() }}
    {# si quiero que no se ejecute el ajax, hay que quitar el form endForm de formulario.html.twig y poner en cada vista VC (vista completa) VM (vista modal)#}
    <br>
    {{ include('IsiPersonaBundle:EstadoCivil:formulario.html.twig')}}
    <div class="isi_centrar-horiz">
        <br>
        <a id="estCivList" href="{{url('isi_persona_estadoCivil')}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <i class="material-icons">list</i>
        </a>
    </div>

    <div class="mdl-tooltip mdl-tooltip--large" for="estCivList">Volver al listado</div>
{% endblock %}
